<a href="https://colab.research.google.com/github/QLan9376/Csc46000/blob/main/Csc460_Group_PJ.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
import pandas as pd

In [14]:
url = 'https://raw.githubusercontent.com/QLan9376/Csc46000/main/heart_failure_clinical_records_dataset.csv?token=AKRWZVWWRBCUB7XIHSGCK2LBSKOPA'
df = pd.read_csv(url)

In [15]:
df.head()

    age  anaemia  creatinine_phosphokinase  ...  smoking  time  DEATH_EVENT
0  75.0        0                       582  ...        0     4            1
1  55.0        0                      7861  ...        0     6            1
2  65.0        0                       146  ...        1     7            1
3  50.0        1                       111  ...        0     7            1
4  65.0        1                       160  ...        0     8            1

[5 rows x 13 columns]